Repository loot/loot, pull requests merged in 2021-03, with the labels that each got.

#1435 Adding Portuguese (pt_PT) Translation For LOOT (#1434)
  resources/l10n/pt_PT/LC_MESSAGES/loot.po
  scripts/installer.iss
  src/gui/state/loot_settings.cpp
  src/tests/gui/state/loot_settings_test.h
Labels: l10n / i18n

#1441 Update pt_BR translation again
  resources/l10n/pt_BR/LC_MESSAGES/loot.po
Labels: l10n / i18n

#1440 Finalize Bulgarian localizaiton & clean up localization-related code
  scripts/build_installer.ps1
  scripts/installer.iss
  src/gui/state/loot_settings.cpp
  src/tests/gui/state/loot_settings_test.h
Labels: l10n / i18n

#1445 Update pt_BR translation
  resources/l10n/pt_BR/LC_MESSAGES/loot.po
Labels: l10n / i18n

#1446 Update German translation
  resources/l10n/de/LC_MESSAGES/loot.po
Labels: l10n / i18n

#1447 Bulgarian Translation - Update
  resources/l10n/bg/LC_MESSAGES/loot.po
Labels: l10n / i18n

#1449 Refine translations section of CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, l10n / i18n

#1454 Updates & additions to the localization section of CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#1456 Sync latest changes to Bulgarian
  resources/l10n/bg/LC_MESSAGES/loot.po
Labels: l10n / i18n

#1458 Updater German Localisation
  resources/l10n/de/LC_MESSAGES/loot.po
Labels: l10n / i18n
